USE [Ejemplo]
GO
/****** Object:  Table [dbo].[salario]    Script Date: 31/03/2017 22:29:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salario](
	[rank] [nvarchar](50) NULL,
	[discipline] [char](1) NULL,
	[yrs_since_phd] [numeric](18, 0) NULL,
	[yrs_service] [numeric](18, 0) NULL,
	[sex] [char](10) NULL,
	[salary] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[salario] ([rank], [discipline], [yrs_since_phd], [yrs_service], [sex], [salary]) VALUES (N'Prof', N'B', CAST(19 AS Numeric(18, 0)), CAST(18 AS Numeric(18, 0)), N'Male      ', CAST(139750 AS Numeric(18, 0)))
INSERT [dbo].[salario] ([rank], [discipline], [yrs_since_phd], [yrs_service], [sex], [salary]) VALUES (N'Prof', N'B', CAST(20 AS Numeric(18, 0)), CAST(16 AS Numeric(18, 0)), N'Male      ', CAST(173200 AS Numeric(18, 0)))
INSERT [dbo].[salario] ([rank], [discipline], [yrs_since_phd], [yrs_service], [sex], [salary]) VALUES (N'AsstProf', N'B', CAST(4 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Male      ', CAST(79750 AS Numeric(18, 0)))
GO
